@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply h-4.8 flex items-center justify-center font-bold text-xs uppercase leading-xs tracking-xp focus:outline-none;
  }
  .btn-default {
    @apply w-64;
  }
  .btn-full {
    @apply w-full;
  }
  .btn-primary {
    @apply btn bg-brown text-white hover:bg-brown-light;
  }
  .btn-secondary {
    @apply btn bg-white text-black border border-black hover:bg-black hover:text-white;
  }
}

@import 'mixins';


html, body {
  font-family: $font-manrope;
  font-size: $fs-10;
}

@include desktop {
  body, html {
    font-size: $fs-8s;
  }
}

@include tablet-wide {
  body, html {
    font-size: $fs-10s;
  }
}

@include tablet {
  body, html {
    font-size: $fs-10;
  }
}

@include mobile-wide {
  body, html {
    font-size: $fs-11s;
  }
}

@include mobile {
  body, html {
    font-size: $fs-10;
  }
}
