$font-manrope: 'Manrope', sans-serif;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

$fs-8s: 8.89px;
$fs-10: 10px;
$fs-10s: 10.57px;
$fs-11s: 11.04px;

$mobile: 400px;
$mobile-wide: 430px;
$tablet: 800px;
$tablet-wide: 830px;
$desktop: 1280px;
$full-screen: 1440px;

$white: #ffffff;
$brown: #d87d4a;
$light-brown: #fbaf85;
$grey: #f1f1f1;
$light-grey: #fafafa;
$midnight: #101010;
$black: #000000;
